$mainFont: "Inter", sans-serif;
$secondFont: "Helvetica Neue", sans-serif;
$fontGrotesk: "Space Grotesk", sans-serif;

$white: #fff;
$orange: #F97316;
$orange2: #DE4F29;
$darkBlue1: #0A1628;

$grey1: #6B7280;